# Setup

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Read data

In [3]:
# data_dir = "../EDA/data/"

# careerbuilder = pd.read_json(data_dir + 'careerbuilder')
# mywork = pd.read_json(data_dir + 'mywork')
# topcv = pd.read_json(data_dir + 'topcv')

# cols_of_careerbuilder = ['_id', 'url', 'title', 'update_time', 'img_url', 'sectors',
#        'application_deadline', 'salary', 'job_formality',
#        'job_experience_years', 'required_gender_specific', 'job_attributes',
#        'job_descriptions', 'job_requirements', 'company_name',
#        'company_address', 'company_url', 'timestampISOdate']

# cols_of_topcv = ['_id', 'url', 'title', 'img_url', 'sectors', 'application_deadline',
#        'salary', 'job_attributes', 'job_formality', 'required_gender_specific',
#        'job_experience_years', 'job_descriptions', 'job_requirements',
#        'company_name', 'company_address', 'company_url', 'timestampISOdate']

# cols = ['sectors', 'salary', 'job_attributes', 'job_formality',
#        'required_gender_specific', 'job_experience_years', 'job_requirements',
#        'company_name', 'company_address', 'source']

# topcv['source'] = 'topcv'

# dataCenter = topcv
# dataCenter = dataCenter[cols]

In [2]:
data_dir = "../EDA/data/"

import pandas as pd
__path_to_df = '../../../database/data_center/dataCenter.csv'
__df = pd.read_csv(__path_to_df)

__cols = ['sectors',
 'salary_label',
 'job_attributes',
 'job_formality',
 'required_gender_specific',
 'job_experience_years',
 'job_requirements',
 'company_name',
 'company_address']

__df = __df[__cols]
__df['source'] = 'jobCenter'

_df = __df.copy()
_df['salary_label'] = _df['salary_label'].fillna('Thỏa thuận')
_df['required_gender_specific'] = _df['required_gender_specific'].fillna('Không yêu cầu')
_df['job_experience_years'] = _df['job_experience_years'].fillna('Không yêu cầu kinh nghiệm')

dataCenter = _df.copy()

In [3]:
pred_data = pd.read_csv(data_dir + "pred_data.csv")

In [4]:
__data = dataCenter.copy()

# Ranking

In [5]:
ranked_data = pred_data.copy()

a = 111
b = -11
c = -9

ranked_data['overall_score']\
    = a*ranked_data['salary_prediction']\
    + b*ranked_data['job_experience_years']\
    + c*ranked_data['required_gender_specific']

ranked_data

,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years,salary_prediction,overall_score
0,0,3,2,2,4,3,271
1,5,3,9,2,2,5,515
2,7,3,5,2,7,7,682
3,0,3,6,2,8,7,671
4,0,3,2,2,3,2,171
...,...,...,...,...,...,...,...
15016,2,5,2,2,2,2,182
15017,2,3,2,2,2,2,182
15018,2,5,2,2,2,2,182
15019,1,3,4,2,2,1,71
15020,1,3,2,2,2,1,71

In [6]:
__data['overall_score'] = ranked_data['overall_score']
__data = __data.sort_values(by='overall_score', ascending=False).reset_index(drop=True)
__data

,sectors,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years,job_requirements,company_name,company_address,source,overall_score
0,"['Kinh doanh / Bán hàng', 'Xây dựng', 'Ngành n...",Trên 30 triệu,Khác,Nhân viên,Nữ,Dưới 1 năm,"- Nữ ngoại hình dễ nhìn, ưu tiên không vướng b...",Công ty CP Hóa chất và VLXD Minh Phú,"42 Đường số 10, KDC Trung Sơn, Bình Hưng, Bìn...",jobCenter,757
1,"['IT phần mềm', 'Công nghệ cao']",Trên 30 triệu,Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,Tốt nghiệp ĐH/CĐ chuyên ngành CNTT hoặc các ch...,Công ty cổ phần MISA - Trung tâm Phát triển ph...,"Tòa nhà N03-T1, Khu đô thị Ngoại giao đoàn, Bắ...",jobCenter,748
2,"['Quản lý chất lượng (QA/QC)', 'Kinh doanh / B...",Trên 30 triệu,Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,- Trên 6 tháng kinh nghiệm đảm nhận vị trí TP ...,Cty CP Tư Vấn Và Đầu Tư BĐS An Khang,"Tầng 3A, Tòa nhà Coteccons Office, 236/6 Điện...",jobCenter,748
3,"['Bất động sản', 'Bảo hiểm', 'Chứng khoán / Và...",Trên 30 triệu,Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,"- Nghiêm túc trong công việc.- Chăm chỉ, nhanh...",Công ty CPTM Địa ốc 5 sao Quảng Ninh,"C1-06 KĐT Marine Plaza, P Hùng Thắng, TP Hạ...",jobCenter,748
4,"['Quản lý điều hành', 'Kinh doanh / Bán hàng',...",Thỏa thuận,Toàn thời gian,Trưởng/Phó phòng,Không yêu cầu,Dưới 1 năm,- Kinh nghiệm: Ứng viên có từ 6 tháng kinh ngh...,CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI CÔNG NGHỆ S...,P204 - Tầng 2 Tháp Tây Khu Dịch Vụ và Thương M...,jobCenter,748
...,...,...,...,...,...,...,...,...,...,...,...
15016,"['Kinh doanh / Bán hàng', 'Quản lý điều hành',...",Dưới 5 triệu,Toàn thời gian,Nhân viên,Không yêu cầu,5 năm,Number of years of experiences: 5+ years of ex...,Công ty TNHH CMC GLOBAL,"Tầng 8-9, Tòa CMC, Duy Tân, Cầu Giấy, Hà Nội",jobCenter,16
15017,"['Thời trang', 'Công nghệ thông tin']",Dưới 5 triệu,Toàn thời gian,Trưởng nhóm,Nam,5 năm,Skills and abilitiesMust have● Code: Can write...,Swop Company,6 Võ Văn Kiệt Quận 1,jobCenter,7
15018,"['Kế toán / Kiểm toán', 'Ngân hàng / Tài chính...",Dưới 5 triệu,Toàn thời gian,Quản lý / Giám sát,Không yêu cầu,Trên 5 năm,Requirement:• Education: Graduate in finance/a...,Công ty cổ phần phương tiện điện thông minh Selex,"Nhà E4, Ngõ 18 Mạc Thái Tổ, Cầu Giấy, Hà Nội",jobCenter,5
15019,"['Kinh doanh / Bán hàng', 'Thời trang', 'Bán l...",Dưới 5 triệu,Toàn thời gian,Giám đốc,Không yêu cầu,Trên 5 năm,• Previous experience and/or qualifications in...,Công ty TNHH thời trang Elise,"Tầng 8, Số 2 Tôn Thất Tùng, Đống Đa, Hà Nội",jobCenter,5
15020,"['Công nghệ thông tin', 'Công nghệ cao', 'IT p...",Dưới 5 triệu,Toàn thời gian,Trưởng/Phó phòng,Nam,Trên 5 năm,# Must have- Bachelor’s degree in computer sci...,CÔNG TY CỔ PHẦN DAC DATA TECHNOLOGY VIỆT NAM,"Tầng 5, tòa Technosolf, ngõ 15, Duy Tân, Cầu G...",jobCenter,-4

In [7]:
__data.to_csv(data_dir + "ranked_data.csv", index=False)