# Setup

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Read data

In [3]:
data_dir = "../EDA/data/"

careerbuilder = pd.read_json(data_dir + 'careerbuilder')
mywork = pd.read_json(data_dir + 'mywork')
topcv = pd.read_json(data_dir + 'topcv')

cols_of_careerbuilder = ['_id', 'url', 'title', 'update_time', 'img_url', 'sectors',
       'application_deadline', 'salary', 'job_formality',
       'job_experience_years', 'required_gender_specific', 'job_attributes',
       'job_descriptions', 'job_requirements', 'company_name',
       'company_address', 'company_url', 'timestampISOdate']

cols_of_topcv = ['_id', 'url', 'title', 'img_url', 'sectors', 'application_deadline',
       'salary', 'job_attributes', 'job_formality', 'required_gender_specific',
       'job_experience_years', 'job_descriptions', 'job_requirements',
       'company_name', 'company_address', 'company_url', 'timestampISOdate']

cols = ['sectors', 'salary', 'job_attributes', 'job_formality',
       'required_gender_specific', 'job_experience_years', 'job_requirements',
       'company_name', 'company_address', 'source']

topcv['source'] = 'topcv'

dataCenter = topcv
dataCenter = dataCenter[cols]

In [4]:
pred_data = pd.read_csv(data_dir + "pred_data.csv")

In [5]:
__data = dataCenter.copy()

# Ranking

In [6]:
ranked_data = pred_data.copy()

a = 111
b = -11
c = -9

ranked_data['overall_score']\
    = a*ranked_data['salary_prediction']\
    + b*ranked_data['job_experience_years']\
    + c*ranked_data['required_gender_specific']

ranked_data

,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years,salary_prediction,overall_score
0,2,3,2,2,2,2,182
1,2,3,2,2,3,2,171
2,7,3,2,2,2,7,737
3,2,3,2,3,2,2,173
4,5,3,2,2,3,5,504
...,...,...,...,...,...,...,...
8968,0,3,2,2,3,2,171
8969,3,3,2,1,3,3,291
8970,2,3,2,1,4,2,169
8971,3,3,6,2,4,3,271
8972,3,3,2,1,3,3,291

In [7]:
__data['overall_score'] = ranked_data['overall_score']
__data = __data.sort_values(by='overall_score', ascending=False).reset_index(drop=True)
__data

,sectors,salary,job_attributes,job_formality,required_gender_specific,job_experience_years,job_requirements,company_name,company_address,source,overall_score
0,"[Bất động sản, Bảo hiểm, Chứng khoán / Vàng / ...","{'label': 'Trên 30 triệu', 'salary': 'Trên 30 ...",Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,"- Nghiêm túc trong công việc.- Chăm chỉ, nhanh...",Công ty CPTM Địa ốc 5 sao Quảng Ninh,"C1-06 KĐT Marine Plaza, P Hùng Thắng, TP Hạ...",topcv,748
1,"[Kinh doanh / Bán hàng, Bất động sản, Tư vấn]","{'label': 'Trên 30 triệu', 'salary': 'Tới 50 t...",Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,Có Laptop cá nhân.\nKhông yêu cầu kinh nghiệm...,Tập Đoàn Danh Khôi,105-107 Đường Nguyễn Công Trứ Phường Nguyễn Th...,topcv,748
2,"[Tư vấn, Bất động sản, Dịch vụ khách hàng]","{'label': 'Trên 30 triệu', 'salary': 'Tới 30 t...",Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,- Chịu khó học hỏi- Không có kinh nghiệm sẽ đư...,CÔNG TY CỔ PHẦN BẤT ĐỘNG SẢN FIRSTHOME,"Số 36 Đường số 6, Khu dân cư Him Lam, Phường T...",topcv,748
3,"[Kinh doanh / Bán hàng, Bảo hiểm, Hành chính /...","{'label': 'Trên 30 triệu', 'salary': 'Tới 50 t...",Bán thời gian,Trưởng/Phó phòng,Không yêu cầu,Dưới 1 năm,- Từ 25 tuổi trở lên. Có từ 1 năm kinh ...,Công ty TNHH Bảo hiểm nhân thọ MB Ageas (MB Ag...,"27 Trần Phú, TP Thái Bình",topcv,748
4,"[Quản lý điều hành, Công nghệ cao, Marketing /...","{'label': 'Trên 30 triệu', 'salary': 'Trên 200...",Toàn thời gian,Nhân viên,Không yêu cầu,Dưới 1 năm,At least 1 year of experience as the Community...,Công ty TNHH Widi Tech,"Tầng 22F, Khu B, Tòa nhà HH4, Khu đô thị Mỹ Đì...",topcv,748
...,...,...,...,...,...,...,...,...,...,...,...
8968,[Nhân sự],"{'label': 'Dưới 5 triệu', 'salary': 'Tới 1,500...",Toàn thời gian,Trưởng/Phó phòng,Không yêu cầu,5 năm,• Proven working experience as HR Manager or H...,Công ty Cổ phẩn Lotus Quality Assurance,"Tầng 14 -17 , toà nhà văn phòng MD Complex, 68...",topcv,16
8969,"[Thời trang, Công nghệ thông tin]","{'label': 'Dưới 5 triệu', 'salary': '2,000-2,5...",Toàn thời gian,Trưởng nhóm,Nam,5 năm,Skills and abilitiesMust have● Code: Can write...,Swop Company,6 Võ Văn Kiệt Quận 1,topcv,7
8970,"[Kế toán / Kiểm toán, Ngân hàng / Tài chính, T...","{'label': 'Dưới 5 triệu', 'salary': 'Tới 2,500...",Toàn thời gian,Quản lý / Giám sát,Không yêu cầu,Trên 5 năm,Requirement:• Education: Graduate in finance/a...,Công ty cổ phần phương tiện điện thông minh Selex,"Nhà E4, Ngõ 18 Mạc Thái Tổ, Cầu Giấy, Hà Nội",topcv,5
8971,"[Kinh doanh / Bán hàng, Thời trang, Bán lẻ / b...","{'label': 'Dưới 5 triệu', 'salary': '1,500-2,5...",Toàn thời gian,Giám đốc,Không yêu cầu,Trên 5 năm,• Previous experience and/or qualifications in...,Công ty TNHH thời trang Elise,"Tầng 8, Số 2 Tôn Thất Tùng, Đống Đa, Hà Nội",topcv,5
8972,"[Công nghệ thông tin, Công nghệ cao, IT phần mềm]","{'label': 'Dưới 5 triệu', 'salary': 'Tới 3,000...",Toàn thời gian,Trưởng/Phó phòng,Nam,Trên 5 năm,# Must have- Bachelor’s degree in computer sci...,CÔNG TY CỔ PHẦN DAC DATA TECHNOLOGY VIỆT NAM,"Tầng 5, tòa Technosolf, ngõ 15, Duy Tân, Cầu G...",topcv,-4

In [8]:
__data.to_csv(data_dir + "ranked_data.csv", index=False)