# Setup

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
trans_dict = {}

# job_attributes
trans_dict['job_attributes'] = {
    'Thực tập': 1,
    'Bán thời gian': 2, 
    'Toàn thời gian': 3, 
    'Remote - Làm việc từ xa': 4
}

# job_formality
trans_dict['job_formality'] = {
    'Thực tập sinh': 1, 
    'Nhân viên': 2, 
    'Trưởng chi nhánh': 3,
    'Trưởng nhóm': 4, 
    'Quản lý / Giám sát': 5, 
    'Trưởng/Phó phòng': 6, 
    'Phó giám đốc': 7, 
    'Giám đốc': 8
}

# required_gender_specific
trans_dict['required_gender_specific'] = {
    'Nữ': 1,
    'Không yêu cầu': 2,
    'Nam': 3
}

# job_experience_years
trans_dict['job_experience_years'] = {
    'Dưới 1 năm': 1, 
    'Không yêu cầu kinh nghiệm': 2, 
    '1 năm': 3, 
    '2 năm': 4, 
    '3 năm': 5, 
    '4 năm': 6, 
    '5 năm': 7, 
    'Trên 5 năm': 8
}

trans_dict['salary_label'] = {
    'Thỏa thuận': 0, 
    'Dưới 5 triệu': 1,
    '5 - 10 triệu': 2, 
    '10 - 15 triệu': 3, 
    '15 - 20 triệu': 4, 
    '20 - 25 triệu': 5, 
    '25 - 30 triệu': 6, 
    'Trên 30 triệu': 7
}

trans_dict['inverse_salary_label'] = {
    0:'Không',
    1:'Dưới 5 triệu',
    2:'5 - 10 triệu', 
    3:'10 - 15 triệu', 
    4:'15 - 20 triệu', 
    5:'20 - 25 triệu', 
    6:'25 - 30 triệu', 
    7:'Trên 30 triệu'
}

In [16]:
def get_unique(col_name, df=dataCenter):
    return list(dataCenter[col_name].unique())

def trans_data(val, col_name, trans_dict):
    res = trans_dict[col_name][val]
    return res

def get_label_from_salary(s):
    return s['label']

# Read data

In [12]:
data_dir = "../EDA/data/"

careerbuilder = pd.read_json(data_dir + 'careerbuilder')
mywork = pd.read_json(data_dir + 'mywork')
topcv = pd.read_json(data_dir + 'topcv')

cols_of_careerbuilder = ['_id', 'url', 'title', 'update_time', 'img_url', 'sectors',
       'application_deadline', 'salary', 'job_formality',
       'job_experience_years', 'required_gender_specific', 'job_attributes',
       'job_descriptions', 'job_requirements', 'company_name',
       'company_address', 'company_url', 'timestampISOdate']

cols_of_topcv = ['_id', 'url', 'title', 'img_url', 'sectors', 'application_deadline',
       'salary', 'job_attributes', 'job_formality', 'required_gender_specific',
       'job_experience_years', 'job_descriptions', 'job_requirements',
       'company_name', 'company_address', 'company_url', 'timestampISOdate']

cols = ['sectors', 'salary', 'job_attributes', 'job_formality',
       'required_gender_specific', 'job_experience_years', 'job_requirements',
       'company_name', 'company_address', 'source']

topcv['source'] = 'topcv'

dataCenter = topcv
dataCenter = dataCenter[cols]

# Preprocess

In [17]:
dataCenter['salary_label'] = dataCenter['salary'].apply(lambda s: get_label_from_salary(s))
dataCenter['requirements_len'] = dataCenter['job_requirements'].apply(lambda r: len(r))

/home/vinbdi/anaconda3/envs/grey/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/vinbdi/anaconda3/envs/grey/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
category_cols = ['salary_label', 'job_attributes', 'job_formality', 
                 'required_gender_specific',
                 'job_experience_years']

for col in category_cols:
    print(col, "\n______", get_unique(col, dataCenter))

salary_label
______ ['5 - 10 triệu', 'Trên 30 triệu', '20 - 25 triệu', '10 - 15 triệu', 'Thỏa thuận', '15 - 20 triệu', '25 - 30 triệu', 'Dưới 5 triệu']
job_attributes
______ ['Toàn thời gian', 'Remote - Làm việc từ xa', 'Bán thời gian', 'Thực tập']
job_formality
______ ['Nhân viên', 'Trưởng nhóm', 'Trưởng/Phó phòng', 'Quản lý / Giám sát', 'Giám đốc', 'Thực tập sinh', 'Phó giám đốc', 'Trưởng chi nhánh']
required_gender_specific
______ ['Không yêu cầu', 'Nam', 'Nữ']
job_experience_years
______ ['Không yêu cầu kinh nghiệm', '1 năm', 'Dưới 1 năm', '2 năm', '3 năm', '5 năm', '4 năm', 'Trên 5 năm']

In [19]:
__data = dataCenter.copy()

encoded_data = __data[category_cols]
for col in encoded_data.columns:
    try:
        encoded_data[col] = encoded_data[col].apply(lambda x: trans_data(x,col,trans_dict))
    except:
        print(col)
encoded_data

# features = ['job_attributes', 'job_formality', 
#             'required_gender_specific',
#             'job_experience_years']

# for f in features:
#     encoded_data[f] = encoded_data[f] / encoded_data[f].max()
# encoded_data

/home/vinbdi/anaconda3/envs/grey/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years
0,2,3,2,2,2
1,2,3,2,2,3
2,7,3,2,2,2
3,2,3,2,3,2
4,5,3,2,2,3
...,...,...,...,...,...
8968,0,3,2,2,3
8969,3,3,2,1,3
8970,2,3,2,1,4
8971,3,3,6,2,4
8972,3,3,2,1,3

# Train

In [21]:
pred = encoded_data[encoded_data['salary_label'] == 0]
train = encoded_data[encoded_data['salary_label'] != 0]

In [22]:
# train-test split evaluation random forest on the sonar dataset
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X = train.drop(columns=['salary_label'])
y = train['salary_label']

print('Shape:',X.shape, y.shape)
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print('Shape:',X_train.shape, X_test.shape, y_train.shape, y_test.shape)
# fit the model
model = RandomForestClassifier(random_state=1)
model.fit(X_train, y_train)
# make predictions
yhat = model.predict(X_test)
# evaluate predictions
acc = accuracy_score(y_test, yhat)
print('Accuracy: %.3f' % acc)

Shape: (7176, 4) (7176,)
Shape: (5023, 4) (2153, 4) (5023,) (2153,)
Accuracy: 0.571

# Predict

In [23]:
X_pred = pred.drop(columns=['salary_label'])
X_pred['salary_label'] = model.predict(X_pred)

pred_data = encoded_data.copy()
pred_data['salary_prediction'] = pred_data['salary_label']
for i in X_pred.index:
    pred_data.loc[i]['salary_prediction'] = X_pred.loc[i]['salary_label']
pred_data

__pred_data = encoded_data.copy()
__pred_data['salary_prediction'] = 0
for i in X_pred.index:
    __pred_data.loc[i]['salary_prediction'] = X_pred.loc[i]['salary_label']
__pred_data

,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years,salary_prediction
0,2,3,2,2,2,0
1,2,3,2,2,3,0
2,7,3,2,2,2,0
3,2,3,2,3,2,0
4,5,3,2,2,3,0
...,...,...,...,...,...,...
8968,0,3,2,2,3,2
8969,3,3,2,1,3,0
8970,2,3,2,1,4,0
8971,3,3,6,2,4,0
8972,3,3,2,1,3,0

# Fill database

In [24]:
trans_dict['inverse_salary_label'] = {
    0:'Không',
    1:'Dưới 5 triệu',
    2:'5 - 10 triệu', 
    3:'10 - 15 triệu', 
    4:'15 - 20 triệu', 
    5:'20 - 25 triệu', 
    6:'25 - 30 triệu', 
    7:'Trên 30 triệu'
}

__data = dataCenter.copy()
__data

__data['salary_prediction'] = __pred_data['salary_prediction']
__data['salary_prediction'] = __data['salary_prediction'].replace(trans_dict['inverse_salary_label'])
__data

,sectors,salary,job_attributes,job_formality,required_gender_specific,job_experience_years,job_requirements,company_name,company_address,source,salary_label,requirements_len,salary_prediction
0,"[Kinh doanh / Bán hàng, Tư vấn]","{'label': '5 - 10 triệu', 'salary': '8-15 triệu'}",Toàn thời gian,Nhân viên,Không yêu cầu,Không yêu cầu kinh nghiệm,- Trình độ: từ trung cấp trở lên- Sinh năm 199...,Công ty TNHH HUDATECH VIỆT NAM,"64 Nguyễn Khuyến, Văn Quán, Hà Đông",topcv,5 - 10 triệu,118,Không
1,"[Marketing / Truyền thông / Quảng cáo, Báo chí...","{'label': '5 - 10 triệu', 'salary': '8-15 triệu'}",Toàn thời gian,Nhân viên,Không yêu cầu,1 năm,Có sự đam mê đối với hướng ngành SEO - Content...,CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI DỊCH VỤ SAO V...,"Số NO18-LK18-30, Khu đất dịch vụ Dọc Bún 2, Ph...",topcv,5 - 10 triệu,431,Không
2,"[Bất động sản, Kinh doanh / Bán hàng, Tư vấn]","{'label': 'Trên 30 triệu', 'salary': 'Trên 50 ...",Toàn thời gian,Nhân viên,Không yêu cầu,Không yêu cầu kinh nghiệm,- Nam/nữ ngoại hình ưa nhìn.- Đam mê với công ...,CÔNG TY CỔ PHẦN GAMUDA LAND (HCMC),"68 Đường N1, Phường Sơn Kỳ, Quận Tân Phú, Thàn...",topcv,Trên 30 triệu,109,Không
3,[Sản xuất],"{'label': '5 - 10 triệu', 'salary': '7-8 triệu'}",Toàn thời gian,Nhân viên,Nam,Không yêu cầu kinh nghiệm,- Ứng viên tốt nghiệp Cao đẳng/Đại học các chu...,Công ty TNHH sản xuất bột mỳ Vimaflour,"KCN Cái Lân, Phường Bãi Cháy, Thành phố Hạ Long",topcv,5 - 10 triệu,281,Không
4,"[Kinh doanh / Bán hàng, Bảo hiểm, Tư vấn]","{'label': '20 - 25 triệu', 'salary': 'Trên 20 ...",Toàn thời gian,Nhân viên,Không yêu cầu,1 năm,- Độ tuổi từ 25-45\n- Trình độ Trung Cấp trở l...,CÔNG TY TNHH BẢO HIỂM NHÂN THỌ AIA VIỆT NAM - ...,"Tầng 15 Tòa nhà Lotte số 2 Đào Tấn, Ba Đình, H...",topcv,20 - 25 triệu,301,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8968,"[Hoạch định/Dự án, Thời trang]","{'label': 'Thỏa thuận', 'salary': 'Thoả thuận'}",Toàn thời gian,Nhân viên,Không yêu cầu,1 năm,"− Có laptop cá nhân\n− Có kỹ năng chụp ảnh, sử...",Công ty CP Coziland,"46 Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1...",topcv,Thỏa thuận,205,5 - 10 triệu
8969,"[Kinh doanh / Bán hàng, Hành chính / Văn phòng...","{'label': '10 - 15 triệu', 'salary': 'Trên 10 ...",Toàn thời gian,Nhân viên,Nữ,1 năm,- Tốt nghiệp Đại học/ Cao đẳng ngành kinh tế- ...,Công ty TNHH Kỹ Thuật Thương Mai Thái Khương,30D Phan Văn Sửu phường 13 quận Tân Bình,topcv,10 - 15 triệu,364,Không
8970,"[Hành chính / Văn phòng, Kế toán / Kiểm toán, ...","{'label': '5 - 10 triệu', 'salary': '8-10 triệu'}",Toàn thời gian,Nhân viên,Nữ,2 năm,- 1 năm kinh nghiệm trở lên ở vị trí tương đươ...,Công Ty TNHH A Sóc,"Lô V6B-20 phố Victoria khu đô thị Văn Phú, Phư...",topcv,5 - 10 triệu,160,Không
8971,"[Kế toán / Kiểm toán, Hành chính / Văn phòng, ...","{'label': '10 - 15 triệu', 'salary': '10-16 tr...",Toàn thời gian,Trưởng/Phó phòng,Không yêu cầu,2 năm,- Kinh nghiệm từ 2 năm trở lên- Khả năng chịu ...,Công Ty TNHH Thương Mại Và Sản Xuất MIT,"41/17đường 35, P. Hiệp Bình Chánh, TP. Thủ Đức",topcv,10 - 15 triệu,89,Không
8972,"[Kinh doanh / Bán hàng, Tư vấn, Y tế / Dược]","{'label': '10 - 15 triệu', 'salary': 'Tới 12 t...",Toàn thời gian,Nhân viên,Nữ,1 năm,- Nữ - Độ tuổi: 22 - 32\n- Có tối thiểu 1 năm ...,Công ty TNHH Dược Mỹ Phẩm Amazon,"Số 04, ngõ 102 Khúc Thừa Dụ, P. Dịch Vọng, Cầu...",topcv,10 - 15 triệu,386,Không

In [25]:
pred_data.to_csv(data_dir+"pred_data.csv", index=False)