# Setup

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
trans_dict = {}

# job_attributes
trans_dict['job_attributes'] = {
    'Thực tập': 1,
    'Bán thời gian': 2, 
    'Toàn thời gian': 3, 
    'Remote - Làm việc từ xa': 4,
    'Khác': 5,
}

# job_formality
trans_dict['job_formality'] = {
    'Thực tập sinh': 1, 
    'Nhân viên': 2, 
    'Trưởng chi nhánh': 3,
    'Trưởng nhóm': 4, 
    'Quản lý / Giám sát': 5, 
    'Trưởng/Phó phòng': 6, 
    'Phó giám đốc': 7, 
    'Giám đốc': 8,
    'Khác': 9
}

# required_gender_specific
trans_dict['required_gender_specific'] = {
    'Nữ': 1,
    'Không yêu cầu': 2,
    'Nam': 3
}

# job_experience_years
trans_dict['job_experience_years'] = {
    'Dưới 1 năm': 1, 
    'Không yêu cầu kinh nghiệm': 2, 
    '1 năm': 3, 
    '2 năm': 4, 
    '3 năm': 5, 
    '4 năm': 6, 
    '5 năm': 7, 
    'Trên 5 năm': 8
}

trans_dict['salary_label'] = {
    'Thỏa thuận': 0, 
    'Dưới 5 triệu': 1,
    '5 - 10 triệu': 2, 
    '10 - 15 triệu': 3, 
    '15 - 20 triệu': 4, 
    '20 - 25 triệu': 5, 
    '25 - 30 triệu': 6, 
    'Trên 30 triệu': 7
}

trans_dict['inverse_salary_label'] = {
    0:'Không',
    1:'Dưới 5 triệu',
    2:'5 - 10 triệu', 
    3:'10 - 15 triệu', 
    4:'15 - 20 triệu', 
    5:'20 - 25 triệu', 
    6:'25 - 30 triệu', 
    7:'Trên 30 triệu'
}

In [33]:
def get_unique(col_name, df):
    return list(df[col_name].unique())

def trans_data(val, col_name, trans_dict):
    res = trans_dict[col_name][val]
    return res

def get_label_from_salary(s):
    return s['label']

# Read data

In [34]:
data_dir = "../EDA/data/"

import pandas as pd
__path_to_df = '../../../database/data_center/dataCenter.csv'
__df = pd.read_csv(__path_to_df)

__cols = ['sectors',
 'salary_label',
 'job_attributes',
 'job_formality',
 'required_gender_specific',
 'job_experience_years',
 'job_requirements',
 'company_name',
 'company_address']

__df = __df[__cols]
__df['source'] = 'jobCenter'

_df = __df.copy()
_df['salary_label'] = _df['salary_label'].fillna('Thỏa thuận')
_df['required_gender_specific'] = _df['required_gender_specific'].fillna('Không yêu cầu')
_df['job_experience_years'] = _df['job_experience_years'].fillna('Không yêu cầu kinh nghiệm')

dataCenter = _df.copy()

In [44]:
# data_dir = "../EDA/data/"

# careerbuilder = pd.read_json(data_dir + 'careerbuilder')
# mywork = pd.read_json(data_dir + 'mywork')
# topcv = pd.read_json(data_dir + 'topcv')

# cols_of_careerbuilder = ['_id', 'url', 'title', 'update_time', 'img_url', 'sectors',
#        'application_deadline', 'salary', 'job_formality',
#        'job_experience_years', 'required_gender_specific', 'job_attributes',
#        'job_descriptions', 'job_requirements', 'company_name',
#        'company_address', 'company_url', 'timestampISOdate']

# cols_of_topcv = ['_id', 'url', 'title', 'img_url', 'sectors', 'application_deadline',
#        'salary', 'job_attributes', 'job_formality', 'required_gender_specific',
#        'job_experience_years', 'job_descriptions', 'job_requirements',
#        'company_name', 'company_address', 'company_url', 'timestampISOdate']

# cols = ['sectors', 'salary', 'job_attributes', 'job_formality',
#        'required_gender_specific', 'job_experience_years', 'job_requirements',
#        'company_name', 'company_address', 'source']

# topcv['source'] = 'topcv'

# dataCenter = topcv
# dataCenter = dataCenter[cols]

# Preprocess

In [36]:
# dataCenter['salary_label'] = dataCenter['salary'].apply(lambda s: get_label_from_salary(s))
# dataCenter['requirements_len'] = dataCenter['job_requirements'].apply(lambda r: len(r))

In [37]:
category_cols = ['salary_label', 'job_attributes', 'job_formality', 
                 'required_gender_specific',
                 'job_experience_years']

for col in category_cols:
    print(col, "\n______", get_unique(col, dataCenter))

salary_label
______ ['Thỏa thuận', '20 - 25 triệu', 'Trên 30 triệu', '10 - 15 triệu', '5 - 10 triệu', '25 - 30 triệu', 'Dưới 5 triệu', '15 - 20 triệu']
job_attributes
______ ['Toàn thời gian', 'Bán thời gian', 'Khác', 'Remote - Làm việc từ xa', 'Thực tập']
job_formality
______ ['Nhân viên', 'Khác', 'Quản lý / Giám sát', 'Trưởng/Phó phòng', 'Thực tập sinh', 'Phó giám đốc', 'Trưởng nhóm', 'Giám đốc', 'Trưởng chi nhánh']
required_gender_specific
______ ['Không yêu cầu', 'Nữ', 'Nam']
job_experience_years
______ ['2 năm', 'Không yêu cầu kinh nghiệm', '5 năm', 'Trên 5 năm', '1 năm', '3 năm', 'Dưới 1 năm', '4 năm']

In [38]:
__data = dataCenter.copy()

encoded_data = __data[category_cols]
for col in encoded_data.columns:
    try:
        encoded_data[col] = encoded_data[col].apply(lambda x: trans_data(x,col,trans_dict))
    except:
        print(col)
encoded_data

# features = ['job_attributes', 'job_formality', 
#             'required_gender_specific',
#             'job_experience_years']

# for f in features:
#     encoded_data[f] = encoded_data[f] / encoded_data[f].max()
# encoded_data

/home/vinbdi/anaconda3/envs/grey/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years
0,0,3,2,2,4
1,5,3,9,2,2
2,7,3,5,2,7
3,0,3,6,2,8
4,0,3,2,2,3
...,...,...,...,...,...
15016,2,5,2,2,2
15017,2,3,2,2,2
15018,2,5,2,2,2
15019,1,3,4,2,2
15020,1,3,2,2,2

# Train

In [39]:
pred = encoded_data[encoded_data['salary_label'] == 0]
train = encoded_data[encoded_data['salary_label'] != 0]

In [62]:
# train-test split evaluation random forest on the sonar dataset
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X = train.drop(columns=['salary_label'])
y = train['salary_label']

print('Shape:',X.shape, y.shape)
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=6)
print('Shape:',X_train.shape, X_test.shape, y_train.shape, y_test.shape)
# fit the model
model = RandomForestClassifier(random_state=1)
model.fit(X_train, y_train)
# make predictions
yhat = model.predict(X_test)
# evaluate predictions
acc = accuracy_score(y_test, yhat)
print('Accuracy: %.3f' % acc)

Shape: (11679, 4) (11679,)
Shape: (8175, 4) (3504, 4) (8175,) (3504,)
Accuracy: 0.574

# Predict

In [41]:
X_pred = pred.drop(columns=['salary_label'])
X_pred['salary_label'] = model.predict(X_pred)

pred_data = encoded_data.copy()
pred_data['salary_prediction'] = pred_data['salary_label']
for i in X_pred.index:
    pred_data.loc[i]['salary_prediction'] = X_pred.loc[i]['salary_label']
pred_data

__pred_data = encoded_data.copy()
__pred_data['salary_prediction'] = 0
for i in X_pred.index:
    __pred_data.loc[i]['salary_prediction'] = X_pred.loc[i]['salary_label']
__pred_data

,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years,salary_prediction
0,0,3,2,2,4,3
1,5,3,9,2,2,0
2,7,3,5,2,7,0
3,0,3,6,2,8,7
4,0,3,2,2,3,2
...,...,...,...,...,...,...
15016,2,5,2,2,2,0
15017,2,3,2,2,2,0
15018,2,5,2,2,2,0
15019,1,3,4,2,2,0
15020,1,3,2,2,2,0

# Fill database

In [42]:
trans_dict['inverse_salary_label'] = {
    0:'Không',
    1:'Dưới 5 triệu',
    2:'5 - 10 triệu', 
    3:'10 - 15 triệu', 
    4:'15 - 20 triệu', 
    5:'20 - 25 triệu', 
    6:'25 - 30 triệu', 
    7:'Trên 30 triệu'
}

__data = dataCenter.copy()
__data

__data['salary_prediction'] = __pred_data['salary_prediction']
__data['salary_prediction'] = __data['salary_prediction'].replace(trans_dict['inverse_salary_label'])
__data

,sectors,salary_label,job_attributes,job_formality,required_gender_specific,job_experience_years,job_requirements,company_name,company_address,source,salary_prediction
0,"['Marketing / Truyền thông / Quảng cáo', 'Ngàn...",Thỏa thuận,Toàn thời gian,Nhân viên,Không yêu cầu,2 năm,Tốt nghiệp Đại Học/Cao Đẳng trong lĩnh vực thi...,Công ty Cổ Phần Phim Studio68,Hồ Chí Minh,jobCenter,10 - 15 triệu
1,"['Marketing / Truyền thông / Quảng cáo', 'Ngàn...",20 - 25 triệu,Toàn thời gian,Khác,Không yêu cầu,Không yêu cầu kinh nghiệm,Độ tuổi từ 30 - 45 tuổi.\nƯu tiên các ứng viên...,CÔNG TY CỔ PHẦN QUỐC TẾ AIG,Hà Nội,jobCenter,Không
2,"['Bán lẻ / bán sỉ', 'Ngành nghề khác']",Trên 30 triệu,Toàn thời gian,Quản lý / Giám sát,Không yêu cầu,5 năm,PEOPLE SPECIFICATIONS\n· University de...,MM Mega Market Vietnam,Hồ Chí Minh,jobCenter,Không
3,"['Ngành nghề khác', 'Tài chính / Đầu tư']",Thỏa thuận,Toàn thời gian,Trưởng/Phó phòng,Không yêu cầu,Trên 5 năm,Trình độ học vấn: \nTốt nghiệp Đại học trở lên...,Ngân Hàng Thương Mại Cổ Phần Sài Gòn (SCB),Hồ Chí Minh,jobCenter,Trên 30 triệu
4,"['Ngành nghề khác', 'Xuất nhập khẩu']",Thỏa thuận,Toàn thời gian,Nhân viên,Không yêu cầu,1 năm,+ Bachelor’s in business studies/ Foreign Trad...,Schenker Vietnam Co. Ltd,Hồ Chí Minh,jobCenter,5 - 10 triệu
...,...,...,...,...,...,...,...,...,...,...,...
15016,['Ngành nghề khác'],5 - 10 triệu,Khác,Nhân viên,Không yêu cầu,Không yêu cầu kinh nghiệm,"- Nam, nữ tuổi 18 - 35\n- Đã tốt nghiệp THPT, ...",Công ty Cổ phần Truyền thông Kim Cương,"Cụm Công Nghiệp Lai Xá, Xã Kim Chung, Huyện Ho...",jobCenter,Không
15017,"['Bảo hiểm', 'Kế toán / Kiểm toán', 'Ngân hàng...",5 - 10 triệu,Toàn thời gian,Nhân viên,Không yêu cầu,Không yêu cầu kinh nghiệm,"- Trình độ: Từ PTTH, Trung cấp, Cao đẳng, Đại ...",Công ty Cổ phần Truyền thông Kim Cương,"Cụm Công Nghiệp Lai Xá, Xã Kim Chung, Huyện Ho...",jobCenter,Không
15018,['Ngành nghề khác'],5 - 10 triệu,Khác,Nhân viên,Không yêu cầu,Không yêu cầu kinh nghiệm,"- Nam, nữ tuổi từ 18 - 35\n- Đã tốt nghiệp THP...",Công ty Cổ phần Truyền thông Kim Cương,"Cụm Công Nghiệp Lai Xá, Xã Kim Chung, Huyện Ho...",jobCenter,Không
15019,"['Hàng gia dụng', 'Ngành nghề khác']",Dưới 5 triệu,Toàn thời gian,Trưởng nhóm,Không yêu cầu,Không yêu cầu kinh nghiệm,Độ tuổi : Nam/nữ 20 – 35 tuổi\nTốt nghiệp THPT...,Công ty Cổ phần Truyền thông Kim Cương,"Cụm Công Nghiệp Lai Xá, Xã Kim Chung, Huyện Ho...",jobCenter,Không
15020,"['Bưu chính - Viễn thông', 'Công nghệ cao', 'N...",Dưới 5 triệu,Toàn thời gian,Nhân viên,Không yêu cầu,Không yêu cầu kinh nghiệm,"Nam, nữ tuổi đời từ 18 - 35.\nTốt nghiệp TC tr...",Công ty Cổ phần Truyền thông Kim Cương,"Cụm Công Nghiệp Lai Xá, Xã Kim Chung, Huyện Ho...",jobCenter,Không

In [45]:
pred_data.to_csv(data_dir+"pred_data.csv", index=False)